@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%27');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;

}




html body div#root div.dropdown div.dropend button.dropdown-toggle.btn-secondary{
  font-size: 10px;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  z-index: 1;
  margin: 1em;
  background-color: #f5eded;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 35px;
}

html body div#root div.dropdown div.dropend div.dropdown-menu div.answer a.dropdown-item{
  background-color: #f5eded;
  color: #000;

}

html body div#root div.dropdown div.dropend button.dropdown-toggle.btn-secondary:hover {
  transform: scale(1.12);
}

.firstone{
  margin-top:110px;
}