@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;

}    

html body {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.526);
    background-blend-mode: color;
    background-image: url(https://pic.clubic.com/v1/images/1977966/raw);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

h1{
    padding: 50px;
    color: aliceblue;
}



html body div#root div.Contain div.button{
    display: flex;
    justify-content: space-around;
}
html body div#root div.Contain div.button button{
    --c: rgb(110, 24, 15);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    display: flex;
    align-items: center;
}
html body div#root div.Contain div.button button div{    
    display: flex;
    align-items: center;
    text-align: center;
}
html body div#root div.Contain div.box1{
    height: 62.5rem;
}

html body div#root div.Contain div.box2{
    height: 60rem;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.26),rgb(0, 0, 0));
    box-shadow: 0px -10px 1000px 200px rgb(0, 0, 0);
}
/* SLOGAN HOME */
html body div#root div.Contain div.box1 div.slogan1{
    display: flex;
    padding-top: 20%;
    padding-left: 20%;
}
html body div#root div.Contain div.box1 div.slogan2{
    display: flex;
}
html body div#root div.Contain div.box1 div.space{
    width: 50%;
}
html body div#root div.Contain div.box1 div.slogan1 h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-decoration: underline;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.428) 40%,white 73%,rgba(255, 166, 0, 0.508) 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(71, 3, 3);

}
html body div#root div.Contain div.box1 div.slogan2 h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-decoration: underline;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.428) 50%,white 80%,rgba(255, 166, 0, 0.508) 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(71, 3, 3);
} 
html body div#root div.Contain div.box2 h2{
    color: white;
}
.test{
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
}



nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    z-index: -1;
    
}

html body div#root div.Contain div.button span {
    position: absolute;
    width: 25%;
    height: 120%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 100%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

html body div#root div.Contain div.button button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    transition: 1s;
}

html body div#root div.Contain div.button button:hover span {
    transform: translateY(0) scale(2);
}

html body div#root div.Contain div.button button span:nth-child(1) {
    --n: 1;
}

html body div#root div.Contain div.button button span:nth-child(2) {
    --n: 2;
}

html body div#root div.Contain div.button button span:nth-child(3) {
    --n: 3;
}

html body div#root div.Contain div.button button span:nth-child(4) {
    --n: 4;
}
html body div.box1 {
    background-color: #5684c1;
    margin-top: 100px;
}

html body div#root div.box1 div.carousel.slide{
    position: relative;
    top: 50px;
    width: 100%;
}

html body div.box1 img{
    width: auto;
    height: 800px;
}

html body div#root div.box1 div.carousel.slide div.carousel-inner div.carousel-item div.carousel-caption{
    background-color: #87d9ff72;
    border-radius: 100px;
    color: black;
}

.carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 1;
    opacity: 1;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
      transition: none;
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
  .carousel-control-next {
      transition: none;
    }
  }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }
  
  /* rtl:options: {
    "autoRename": true,
    "stringMap":[ {
      "name"    : "prev-next",
      "search"  : "prev",
      "replace" : "next"
    } ]
  } */
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators [data-bs-target] {
      transition: none;
    }
  }
  .carousel-indicators .active {
    opacity: 1;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }
  
  .carousel-dark .carousel-control-prev-icon,
  .carousel-dark .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
  }
  .carousel-dark .carousel-caption {
    color: #000;
  }