
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}    
:root{
    --mainColor: #10234d00;
    --mainColorLight : #5684c1;
    --secondaryColor : red;
    --textColor:rgb(163, 163, 163);
}
html body div#root header div.Navbar{
    display: flex;
    justify-content: space-evenly;
}
header{
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    padding-top: 10px;
}
header div nav{
    border-bottom: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    padding: 10px;
    transition: 1s;
    position: relative;
    z-index: 10;
    font-weight: bold;
    background: linear-gradient(0deg, rgb(239, 239, 239), rgb(248, 248, 248)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 0.35s;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;
    padding-top: 0px;
  }
html body div#root  header div nav a{
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.8px;
    font-size: 20px;
    
}
a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    position: relative;
    z-index: 10;
  }
header .nav-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
}
html body div#root  header nav button.logo-acceuil{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}
html body div#root header div nav ul li a img.logo{
    width: 120px;
    height: 120px;
    background-color: #5684c169
;
    border: 0;
    padding: 15px;
    border-radius: 100%;
    transition: 2s;
    
}
html body div#root header div nav ul li{
    list-style: none;
}
html body div#root header div nav ul{
    display: flex;
    align-items: center;
}
html body div#root header nav{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
html body div#root  header nav img.logo:hover{
    rotate: 360deg;
    transition: 1s;
}

html body div#root  header div nav.responsive_nav{
    position: fixed;
    z-index: 11;
}
html body div#root  header nav button.nav-btn.nav-close-btn{
    position: absolute;

}
html body div#root  header nav button.nav-btn.nav-close-btn svg{
    color: white;
}


@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1; 
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
        background-blend-mode: color;
    }
    header nav.responsive_nav{
        transform: none;
        z-index: 1;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    
    nav a{
        font-size: 1.5rem;
    }
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    button.modal-toggle {
        cursor: pointer;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: none;
        color: white;
        text-decoration: none;
        margin: 0 2rem;
        padding: 10px;
        transition: 1s;
        position: relative;
        z-index: 10;
        font-weight: bold;
        background: linear-gradient(0deg, rgb(239, 239, 239), rgb(248, 248, 248)) no-repeat right bottom / 0 var(--bg-h);
        transition: background-size 0.35s;
        --bg-h: 100%;
        padding-bottom: 2px;
        --bg-h: 2px;
        padding-top: 0px;
    }
    html body div#root  header div nav button.modal-toggle{
        font-family: 'Anton', sans-serif;
        letter-spacing: 0.8px;
        font-size: 20px;
    }
    button.modal-toggle:where(:hover, :focus-visible)  {
        background-size: 100% var(--bg-h);
        background-position-x: left;
        position: relative;
        z-index: 10;
    }
