@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}    
:root{
    --mainColor: #10234d00;
    --mainColorLight : #5684c1;
    --secondaryColor : red;
    --textColor:rgb(163, 163, 163);
}
html body div#root header div.Navbar{
    display: flex;
    justify-content: space-evenly;
}
header{
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    padding-top: 10px;
}
header div nav{
    border-bottom: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    padding: 10px;
    transition: 1s;
    position: relative;
    z-index: 10;
    font-weight: bold;
    background: linear-gradient(0deg, rgb(239, 239, 239), rgb(248, 248, 248)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 0.35s;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;
    padding-top: 0px;
  }
html body div#root  header div nav a{
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.8px;
    font-size: 20px;
    
}
a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    position: relative;
    z-index: 10;
  }
header .nav-btn{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    position: absolute;
    right: 2rem;
}
html body div#root  header nav button.logo-acceuil{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
}
html body div#root header div nav ul li a img.logo{
    width: 120px;
    height: 120px;
    background-color: #5684c169
;
    border: 0;
    padding: 15px;
    border-radius: 100%;
    transition: 2s;
    
}
html body div#root header div nav ul li{
    list-style: none;
}
html body div#root header div nav ul{
    display: flex;
    align-items: center;
}
html body div#root header nav{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
html body div#root  header nav img.logo:hover{
    rotate: 360deg;
    transition: 1s;
}

html body div#root  header div nav.responsive_nav{
    position: fixed;
    z-index: 11;
}
html body div#root  header nav button.nav-btn.nav-trajet-btn{
    position: absolute;

}
html body div#root  header nav button.nav-btn.nav-trajet-btn svg{
    color: white;
}


@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1; 
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
        background-blend-mode: color;
    }
    header nav.responsive_nav{
        transform: none;
        z-index: 1;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    
    nav a{
        font-size: 1.5rem;
    }
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    button.modal-toggle {
        cursor: pointer;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: none;
        color: white;
        text-decoration: none;
        margin: 0 2rem;
        padding: 10px;
        transition: 1s;
        position: relative;
        z-index: 10;
        font-weight: bold;
        background: linear-gradient(0deg, rgb(239, 239, 239), rgb(248, 248, 248)) no-repeat right bottom / 0 var(--bg-h);
        transition: background-size 0.35s;
        --bg-h: 100%;
        padding-bottom: 2px;
        --bg-h: 2px;
        padding-top: 0px;
    }
    html body div#root  header div nav button.modal-toggle{
        font-family: 'Anton', sans-serif;
        letter-spacing: 0.8px;
        font-size: 20px;
    }
    button.modal-toggle:where(:hover, :focus-visible)  {
        background-size: 100% var(--bg-h);
        background-position-x: left;
        position: relative;
        z-index: 10;
    }
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  border: solid 2px #5684c1;
    border-radius: 10px;
    padding: 10px;
    background: #094fac;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 100px !important;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
    column-gap: 10em;
    margin-top: 70px; 
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
  margin-left: 4px;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
  margin-right: 20px;
  padding-left: 70px;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  width: 100%;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modal-sm {
    --bs-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
.modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
.modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
.modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
.modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
.modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: 0.5;
  }
  .btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }
  .btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
  }
  .btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
  }
  
  .btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
  .offcanvas-header .btn-close {
    padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
    margin-top: calc(-0.5 * var(--bs-offcanvas-padding-y));
    margin-right: calc(-0.5 * var(--bs-offcanvas-padding-x));
    margin-bottom: calc(-0.5 * var(--bs-offcanvas-padding-y));
  }

.btn-primary{
    background: none;
}

h1.h1-modal{
    padding: 0px !important;
    color: #000;
    text-align: center;
    font-family: 'Bebas Neue', cursive;

}



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;

}



input[type="text"], [type="email"],textarea{
    margin-top: 2px;
    background: none;
    border: none;
    border-bottom: solid 2px #5684c1;
    color: #87D9FF;
    font-size: 17.5px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    width: 100%;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    resize: none;
    font-family: 'Open Sans', sans-serif; 

  }

label{
  font-family: 'Bebas Neue' cursive;
}



input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}
p{
    text-transform: capitalize;
}
h2{
    padding-bottom: 15px;
}

input[type='submit']{
  appearance: button;
  background-color: #5684c1;
  background-image: none;
  border: 1.1px solid #000;
  border-radius: 4px;
  box-shadow: #87d9ff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

input[type='submit']:focus {
  text-decoration: none;
}

input[type='submit']:hover {
  text-decoration: none;
  transform: scale(1.05);
}

input[type='submit']:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

input[type='submit']:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  input[type='submit'] {
    padding: 12px 50px;
  }
}

.Connexion{
  margin-top: 15px !important;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: auto;
  border: solid 1px black;
  border-radius: 15px;
  appearance: button;
  background-color: #5684c1;
  background-image: none;
  border: 1.1px solid #000;
  border-radius: 4px;
  box-shadow: #87d9ff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.Connexion a {
  padding-top:10px;
  background: none !important;
  
}

.Connexion h2{
  margin-top: 10px;
  font-family: 'Bebas Neue', cursive;
}

.Connexion a h2{
  color: #000;
  font-family: 'Bebas Neue', cursive;
}

.Connexion a h2:hover{
  color: #094fac;
  transform: scale(1.2);
  transition: 0.5s;
}
.modal-content-login{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  border: solid 2px #5684c1;
    border-radius: 10px;
    padding: 10px;
    background-image: url(https://developers.google.com/identity/passkeys/key-visual.png);
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin-top: 100px !important;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start;
    column-gap: 10em;
    margin-top: 70px;}







